:root {
  --dorado: #e8d7ac;
  --negro: rgb(7, 6, 6);
  --fondo: rgb(255, 255, 255);
}

* {
  font-family: 'Roboto', sans-serif;
}

p {
  margin-bottom: 0px;
}

.navbar {
  z-index: 1;
  width: 100%;
  background-color: var(--negro);
  border-bottom: 1px solid rgba(36, 35, 35, 0.644);
}

